*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#D94786;
    color:#333;
}

header{
    background:#d94786;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    margin-top:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    text-decoration:underline;
}

.banner{
    text-align:center;
    padding:80px 20px;
}

.banner h2{
    font-size:40px;
}

.banner p{
    margin:20px 0;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:#d94786;
    color:white;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#d94786;
}

.destaques{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    padding:40px;
}

.card{
    width:280px;
    background:white;
    border-radius:15px;
    padding:25px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}
